
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: gray;
  --color-secondary: black;
}

a.active {
  border-bottom: 2px solid gray;
}




