
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";


a.active {
  border-bottom: 2px solid gray;
}

/* body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #121212;
  color: white;
} */






